__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
frontend/components/__pycache__/
frontend/pages/__pycache__/
frontend/utils/__pycache__/
frontend/assets/exp_results
frontend/user_data/*
frontend/assets/validation_dataset
frontend/.env
backend/.env
backend/data/

pids/
.DS_Store
