langchain-core==1.0.0
langchain==1.0.0
langchain-community==1.0.0a1
langchain-chroma==1.0.0
langchain-huggingface==1.0.0
langchain-docling
duckduckgo-search
sentence-transformers
hydra-core
beautifulsoup4
fastapi
pypdf
pdfplumber
pypinyin
uvicorn
python-multipart
python-dotenv
omegaconf
